.projectCard {
	margin: 10px;
	position: relative;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
	border-radius: 4px;
	overflow: hidden;
	transform: translate3d(0px, 0px, 0px);
	transition: all 0.3s ease 0s;
	&:hover {
		transform: translate3d(0px, -6px, 0px);
	}
	.imageGroup {
		position: relative;
		cursor: pointer;
		.imageBg {
			width: 100%;
			height: 240px;
			position: relative;
			object-fit: cover;
		}
		.imageText {
			width: 100%;
			padding: 16px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(4px);
			text-align: left;
			& > h3 {
				margin: 0px 0px 4px;
				font-size: 18px;
				line-height: 24px;
				color: rgb(255, 255, 255);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			& > span {
				font-size: 12px;
				line-height: 16px;
				color: rgb(224, 224, 224);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	.progressGroup {
		margin: 16px 16px 30px;
		.content {
			margin: 0px 0px 4px;
			text-align: left;
			.amount {
				margin: 0px 6px 0px 0px;
				font-size: 18px;
				line-height: 21px;
				font-weight: 500;
				color: rgb(0, 0, 0);
			}
			.target {
				font-size: 12px;
				line-height: 16px;
				color: rgb(94, 102, 115);
			}
		}
		.progress {
			width: 100%;
			height: 12px;
			background-color: rgb(229, 229, 229);
			border-radius: 5px;
			overflow: hidden;
		}
		:global {
			.progress-bar {
				background: rgb(252, 213, 53);
			}
		}
	}
	.information {
		margin: 0 16px 16px;
		text-align: left;
		.itemInfo {
			display: inline-block;
			width: 120px;
			.value {
				font-size: 18px;
				line-height: 24px;
				font-weight: 700;
				color: rgb(30, 32, 38);
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
			.label {
				font-size: 14px;
				line-height: 24px;
				color: rgb(94, 102, 115);
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
		&:first-of-type {
			margin-right: 18px;
		}
		& > button {
			width: 124px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 26px;
			bottom: 30px;
			font-size: 16px;
			font-weight: 400;
			color: rgb(30, 35, 41);
			background: rgb(252, 213, 53);
			border-radius: 4px;
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
	@media (max-width: 768px) {
		.information {
			.itemInfo {
				width: 70px;
				margin-right: 8px;
				.value {
					font-size: 16px;
				}
				.label {
					font-size: 12px;
				}
			}
			& > button {
				width: 110px;
				font-size: 14px;
				bottom: 30px;
			}
		}
	}
}
