.wrapper {
	padding: 80px 0;
	@media (max-width: 1080px) {
		padding-top: 0 !important;
	}
	.contentWrapper {
		box-sizing: border-box;
		margin: 0px;
		min-width: 0px;
		display: flex;
		flex-direction: row;
		border-bottom: 2px solid rgb(245, 245, 245);
		padding: 32px 0px 40px;
		text-align: left;
		@media (max-width: 1080px) {
			flex-direction: column !important;
			.imageWrapper {
				width: auto !important;
				margin: 0 auto !important;
			}
			.contentText {
				padding: 30px !important;
			}
		}
		.contentText {
			box-sizing: border-box;
			margin: 0px;
			min-width: 0px;
			flex: 1 1 0%;
			padding-top: 29px;
			padding-left: 47px;
			padding-right: 113px;
			.title {
				font-size: 36px;
				line-height: 42px;
				margin-bottom: 24px;
				box-sizing: border-box;
				margin: 0px 0px 10px;
				min-width: 0px;
				line-height: 37px;
				font-weight: 500;
			}
			.text {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 32px;
				box-sizing: border-box;
				margin: 0px 0px 24px;
				min-width: 0px;
				letter-spacing: 0.16px;
				color: rgb(71, 77, 87);
			}
		}
		.imageWrapper {
			box-sizing: border-box;
			margin: 0px;
			min-width: 0px;
			width: 500px;
			padding-top: 0px;
			.image {
				box-sizing: border-box;
				margin: 0px;
				min-width: 0px;
				max-width: 100%;
				height: auto;
				border: none;
				vertical-align: middle;
			}
		}
	}
}
