.headerDetail {
	width: 100%;
	margin: 20px auto 5px;
	padding: 20px 40px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 8%) 0px 1px 20px 0px;
	.headerTop {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.headerLeft {
			text-align: left;
			.name {
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 5px;
			}
			.status {
				background: rgba(240, 185, 11, 0.1);
				color: rgb(240, 185, 11);
				border-radius: 3px;
				padding: 2px 7px;
				font-size: 12px;
			}
		}
		.headerRight {
			& > button {
				height: 40px;
				width: 160px;
				outline: none;
				cursor: pointer;
				border-radius: 3px;
				font-size: 14px;
				color: rgb(33, 40, 51);
				background: linear-gradient(
					90deg,
					rgb(240, 185, 11),
					rgb(251, 218, 60)
				);
				border: none;
				line-height: 100%;
				padding: 10px 20px;
				transition: all 0.1s ease-in-out 0s;
			}
		}
	}
	.headerBottom {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		padding: 25px 20px 20px;
		background: rgba(234, 236, 239, 0.4);
		border-radius: 3px;
		justify-content: space-around;
		.tile {
			align-items: flex-start;
			display: flex;
			flex-flow: column wrap;
			white-space: nowrap;
			& > h3 {
				font-weight: bold;
				margin: 0px;
				line-height: 100%;
				font-size: 20px;
				color: rgb(33, 40, 51) !important;
			}
			& > span {
				font-size: 14px;
				color: rgb(132, 142, 156);
				line-height: 15px;
				margin: 2px 0px;
			}
		}
		.progressWrapper {
			display: flex;
			flex-wrap: wrap;
			flex-basis: 400px;
			.progress {
				display: flex;
				flex-flow: column wrap;
				-webkit-box-pack: center;
				justify-content: center;
				width: 100%;
				.progressTop {
					display: flex;
					flex-wrap: wrap;
					-webkit-box-pack: justify;
					justify-content: space-between;
					.left {
						font-size: 16px;
					}
					.right {
						display: flex;
						flex-wrap: wrap;
						font-size: 14px;
						color: rgb(33, 40, 51);
						font-weight: bold;
					}
				}
				.progressContent {
					:global {
						.progress {
							height: 5px;
							border-radius: 3px;
						}
						.progress-bar {
							background: linear-gradient(
								90deg,
								rgb(240, 185, 11),
								rgb(0, 192, 135)
							);
						}
					}
				}
				.progressBottom {
					display: flex;
					flex-wrap: wrap;
					font-size: 14x;
				}
			}
		}
	}
}

.chart {
	width: 100%;
	margin: 0px auto 10px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 8%) 0px 1px 20px 0px;
	max-height: 600px;
	overflow-y: auto;
}
