.buttonDefault {
	background: #fcd535;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
}

.buttonOutline {
	background: none;
	border: 1px solid #fcd535;
	color: #fcd535;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
