.wrapper {
	height: 100%;
	.carousel {
		height: calc(100vh - 70px);
		:global {
			.react-multi-carousel-list {
				height: 100%;
				.react-multi-carousel-dot-list {
					padding-bottom: 50px;
					.react-multi-carousel-dot--active > button {
						background: rgb(240, 185, 11);
					}
				}
			}
		}
		.image {
			position: relative;
			& > img {
				width: 100vw;
				height: 100vh;
				object-fit: cover;
			}
			.projectInfo {
				position: absolute;
				left: 0;
				top: 0;
				text-align: left;
				background: rgb(0, 0, 0, 0.4);
				width: 100%;
				height: 100%;
				.projectInfoWrapper {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
					.feature {
						font-size: 24px;
						line-height: 32px;
						margin-bottom: 24px;
						color: rgb(238, 238, 238);
					}
					.projectName {
						font-size: 52px;
						line-height: 61px;
						margin-bottom: 26px;
						color: rgb(255, 255, 255);
					}
					.projectDesc {
						font-size: 18px;
						line-height: 28px;
						margin-bottom: 64px;
						letter-spacing: 0.16px;
						color: rgb(255, 255, 255);
						text-overflow: ellipsis;
					}
					.link {
						display: block;
						height: 48px;
						width: 177px;
						margin-right: 395px;
						color: rgb(240, 185, 11);
						.button {
							height: 48px;
							width: 100%;
							cursor: pointer;
							overflow: hidden;
							align-items: center;
							justify-content: center;
							text-align: center;
							text-decoration: none;
							outline: none;
							padding: 6px 12px;
							font-weight: 500;
							border: none;
							background-image: linear-gradient(
								rgb(248, 209, 47) 0%,
								rgb(240, 185, 11) 100%
							);
							font-size: 16px;
							line-height: 24px;
							color: rgb(30, 35, 41);
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
	.impact {
		background: #0b0e11;
		color: #fff;
		padding-top: 80px;
		overflow: hidden;
		position: relative;
		.title {
			margin-bottom: 98px;
			font-size: 48px;
			line-height: 62px;
			font-weight: 500px;
			text-align: center;
		}
		.info {
			display: flex;
			margin-bottom: 150px;
			justify-content: space-around;
			flex-direction: row;
			.item {
				box-sizing: border-box;
				margin: 0px;
				min-width: 0px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.value {
					box-sizing: border-box;
					margin: 40px 0px 50px;
					min-width: 0px;
					color: rgb(255, 255, 255);
					font-size: 56px;
					font-weight: 200;
					text-align: center;
				}
				.key {
					box-sizing: border-box;
					margin: 0px;
					min-width: 0px;
					color: rgb(189, 189, 189);
					font-size: 18px;
					font-weight: 400;
					text-align: center;
				}
			}
		}
		.carouselInfo {
			margin-bottom: 50px;
			// :global {
			// 	.react-multi-carousel-list {
			// 		height: 100%;
			// 	}
			// }
			.imageItem {
				padding: 20px;
				// width: 100% !important;
			}
			.image {
				cursor: pointer;
				position: relative;
				width: 100%;
				height: 100%;
				& > img {
					width: 100%;
					height: 300px;
					object-fit: cover;
				}
				.infoProject {
					position: absolute;
					bottom: 0;
					z-index: 1;
					background: rgba(0, 0, 0, 0.4);
					backdrop-filter: blur(4px);
					padding: 20px 16px;
					width: 100%;
					.name {
						box-sizing: border-box;
						margin: 0px;
						min-width: 0px;
						font-size: 18px;
						line-height: 24px;
						font-weight: 700;
						color: rgb(255, 255, 255);
						filter: blur(0px);
					}
				}
			}
		}
	}
	.values {
		padding: 80px 0;
		background: #fafafa;
		.title {
			font-size: 40px;
			line-height: 48px;
			margin-bottom: 68px;
			padding: 0 10px;
			text-align: center;
			font-weight: 600;
		}
		.info {
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			.item {
				margin: 0 auto;
				width: 320px;
				.value {
					font-size: 24px;
					line-height: 32px;
					width: 100%;
					font-weight: 600;
					margin: 50px 0 30px 0;
				}
				.key {
					font-size: 18px;
					font-weight: 400;
					color: #828282;
					line-height: 24px;
					letter-spacing: 0.16px;
				}
			}
		}
	}
	.partners {
		padding: 80px 0 90px;
		border-bottom: 2px solid #f5f5f5;
		.title {
			font-size: 48px;
			line-height: 62px;
			margin-bottom: 30px;
			font-weight: 600;
		}
		.listItem {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.item {
				width: 150px;
				height: 150px;
				margin: 0 12px;
				& > img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
