.donateWrapper {
	height: calc(100vh - 70px);
	padding: 30px 0px;
	margin-top: 20px;
	text-align: left;
	.donateContent {
		display: flex;
		flex-wrap: wrap;
		margin: 0px auto;
		justify-content: space-between;
		.left {
			display: flex;
			flex-wrap: wrap;
			width: 32%;
			background: rgb(255, 255, 255);
			padding: 30px;
			box-shadow: rgb(0 0 0 / 5%) 0px 1px 20px 0px;
			.leftContent {
				display: flex;
				flex-flow: column wrap;
				justify-content: space-between;
				width: 100%;
				min-height: 300px;
				background: rgb(255, 255, 255);

				.top {
					flex: 1 1 0%;
					margin-bottom: 20px;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					& > img {
						max-width: 100%;
						max-height: 100%;
						object-fit: cover;
					}
				}
				.bottom {
					display: flex;
					flex: 1 1 0%;
					flex-wrap: wrap;
					margin: 30px 0px 0px;
					position: relative;
					min-height: 400px;
					.content {
						align-items: flex-start;
						display: flex;
						flex-flow: column wrap;
						width: 100%;
						& > h3 {
							font-weight: bold;
							margin: 0px;
							line-height: 100%;
							font-size: 20px;
							color: rgb(33, 40, 51);
						}
						& > p {
							font-size: 14px;
							color: rgb(72, 81, 93);
							line-height: 20px;
							margin: 7px 0px;
						}
					}
				}
			}
		}
		.right {
			display: flex;
			flex-wrap: wrap;
			width: 65%;
			background: rgb(255, 255, 255);
			padding: 40px;
			box-shadow: rgb(0 0 0 / 5%) 0px 1px 20px 0px;
			.rightContent {
				display: flex;
				flex-flow: column wrap;
				width: 100%;
				position: relative;
				.header > h3 {
					font-size: 24px;
					font-weight: 600;
					color: rgb(0, 0, 0);
					line-height: 20px;
					margin: 0px 8px 0px 0px;
				}
				.form {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					padding-top: 60px;
					& > form {
						width: 100%;
						display: flex;
						flex-direction: column;
						// span {
						// 	margin-top: 10px;
						// }
						// input {
						// 	box-sizing: border-box;
						// 	margin: 14px 0px 0px;
						// 	min-width: 0px;
						// 	width: 280px;
						// 	height: 28px;
						// 	border-width: 0.5px;
						// 	border-style: solid;
						// 	border-color: transparent transparent rgb(223, 226, 231);
						// 	border-image: initial;
						// 	outline: 0px;
						// 	height: 100%;
						// 	width: 100%;
						// 	font-size: 18px;
						// 	font-weight: bold;
						// }
						.buttonDonate {
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-end;
							margin: 32px 0px 0px;
							button {
								outline: none;
								cursor: pointer;
								width: auto;
								border: none;
								line-height: 100%;
								transition: all 0.1s ease-in-out 0s;
								padding: 12px 24px;
								color: rgb(0, 0, 0);
								background: rgb(252, 213, 53);
								font-size: 16px;
								border-radius: 8px;
							}
						}
					}
				}
			}
		}
	}
}
