.wrapper {
	margin: 0;
	min-width: 0;
	background: #0b0e11;
	position: relative;
	color: #f2f2f2;
	.contentWrapper {
		display: flex;
		.contentLeft {
			flex: 4;
			display: flex;
			justify-content: space-between;
			padding: 60px 0 40px;
			box-sizing: border-box;
			color: #fff;
			border-bottom: 1px solid rgba(242, 242, 242, 0.1);
			padding-right: 65px;
			.page {
				box-sizing: border-box;
				margin: 0;
				min-width: 0;
				margin-bottom: 24px;
				text-align: left;
				.title {
					box-sizing: border-box;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 12px;
					& > div {
						font-style: normal;
						font-weight: 400;
						color: #f2f2f2;
						font-size: 18px;
						line-height: 23px;
					}
				}
				.listItem {
					display: block;
					.item {
						margin-bottom: 6px;
						.itemName {
							margin: 0;
							min-width: 0;
							font-size: 14px;
							line-height: 18px;
							color: rgba(255, 255, 255, 0.5);
							cursor: pointer;
							transition: color 0.3s;
						}
					}
				}
				.link {
					color: #f0b90b;
					display: inline-block;
					font-size: 0;
					margin-right: 14px;
					opacity: 0.6;
					transition: opacity 0.2s ease-in;
					& > svg {
						box-sizing: border-box;
						margin: 0;
						min-width: 0;
						color: #ffffff;
						font-size: 20px;
						fill: #ffffff;
						width: 1em;
						height: 1em;
					}
				}
			}
		}
		.contentRight {
			flex: 3;
			padding: 60px 0 0;
			text-align: left;
			line-height: 21px;
			box-sizing: border-box;
			margin: 0;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			color: #474d57;
			.mainContent {
				border-left: 1px solid rgba(230, 232, 234, 0.2);
				padding-left: 80px;
				box-sizing: border-box;
				color: rgba(255, 255, 255, 0.5);
				.logo {
					font-size: 40px;
					color: #ffff;
					margin-bottom: 70px;
				}
			}
			svg {
				margin-bottom: 100px;
			}
		}
	}
}
