.tabWrapper {
	margin-top: 50px;
	:global {
		width: 100%;
		border-bottom: 1px solid rgb(132, 142, 156);
		.nav-link {
			margin-bottom: inherit;
			border-color: #fff;
			padding: 0 30px;
			color: rgb(72, 81, 93);
			&.active {
				border-color: #fff !important;
				color: rgb(240, 185, 11) !important;
				border-bottom: 3px solid rgb(240, 185, 11) !important;
				padding-bottom: 7px;
				margin-bottom: -2px;
			}
			&:hover:not(.active) {
				border-color: #fff;
			}
		}
	}
}
:global {
	.tab-content {
		padding-top: 40px;
		text-align: left;
	}
}
