.wrapper {
	background: #fafafa;
	height: 100vh;

	.title {
		text-align: left;
		padding-top: 50px;
	}
	.action {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 20px;
		align-items: center;
		.add {
			padding: 6px 10px;
		}
		.search {
			height: 40px;
		}
	}
	.actionTable {
		display: flex;
		flex-direction: row;
		margin: 3px;
		> svg {
			margin: 4px;
			cursor: pointer;
		}
	}
	.currencyTable {
		display: flex;
		align-items: center;
		> img {
			width: 18px;
			margin-right: 6px;
		}
	}
	.addressTable {
		display: flex;
		align-items: center;
		> svg {
			margin-left: 6px;
			cursor: pointer;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	& > input {
		margin-bottom: 10px;
	}

	.modalAction {
		display: flex;
		flex-direction: row;
		padding-top: 20px;
		> button {
			font-size: 14px;
			padding: 10px 20px;
			margin: 5px;
		}
	}
}
