.wrapper {
	background-color: #f8f9fa;
	padding-bottom: 100px;
	.headerDetail {
		width: 100%;
		height: 400px;
		position: relative;
		& > img {
			background-color: #12161c !important;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
		}
		.contentWrapper {
			max-width: 1072px;
			padding: 16px;
			height: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			.content {
				width: 100%;
				max-width: 600px;
				padding: 40px;
				text-align: left;
				z-index: 1;
				.title {
					color: #fbda3c;
					margin-bottom: 20px;
				}
				.searhWrapper {
					display: flex;
					.searchInput {
						flex: 6;
						border-radius: 4px 0px 0px 4px;
						> input {
							margin: 0;
						}
					}
					.buttonSearch {
						flex: 1;
						& > button {
							border-radius: 0px 4px 4px 0px;
							height: 48px;
							width: 100%;
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	.headerCard {
		box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
		height: 100%;
		margin-top: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #e7eaf3;
		border-radius: 4px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		.cardWrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 20px;
			.titleAddress {
				display: flex;
				align-items: center;
				.address {
					font-size: 18px;
					color: #4a4f55;
					font-weight: 600;
				}
				.value {
					color: #77838f;
					font-size: 18px;
					margin-left: 5px;
				}
			}

			@media (max-width: 640px) {
				.titleAddress {
					display: flex;
					flex-direction: column;
					.address {
						font-size: 18px;
					}
					.value {
						font-size: 13px;
					}
				}
			}
			.viewInExplorer {
				text-decoration: none;
				color: #77838f;
				margin-left: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				&:hover {
					color: #4a4f55;
				}
			}
		}

		.titleBalance {
			padding: 0 20px 20px 20px;
			.value {
				margin-left: 5px;
			}
		}
	}

	.card {
		box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
		height: 100%;
		margin-top: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #e7eaf3;
		border-radius: 4px;
	}
	.backgroundNotFound {
		img {
			width: 100%;
			max-width: 416px;
		}
	}
}
